extends layout

block content
	h1 Lingo Translator

	form#translate
		input.form-control(name="language")
		input.form-control(name="new-language")
		input.form-control(name ="word")
		input.btn.btn-primary(type="submit")
